.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/*
.profile-forums{
  padding: 0px;
} */

/* #profile-forums th{
  width: 1% !important;
} */


#edit-profile {
  margin-top: 10px;
}

.container .col-12{
  padding-top:20px;
  margin: 20px;
}

#profile-card-container{
  /* padding-left: 15px; */
  margin-top:120px;
  /* padding-right: 10px; */
  padding-left: 10px;
  /* width:100%; */
  max-width: 110px;
  min-width: 60vh;

}
.menu-item{
  margin-left: 5rem;
  padding:0px 0;
  color:white;

}
#profile-rides-list{
  margin-top:120px;
}
#rides-list{
  margin-top:120px;
}
#forum-list{
  /* margin-top:100px; */
}
body{
  background-color: white;
}
.header{
  margin-top:-10px;
  position:fixed;
  width:100%;
  z-index:999;


}

.title {
  background-color: black;
  color: white;
  margin-top:0px;
  /* height: 0px; */
  font-size: 2.5rem;
  padding: 0px 0;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}
.leaderboard{
  margin-top:120px;
}

body { margin-top:10px; }
/* .list-group{
  margin-top:100px;
} */
.fa { font-size: 50px;text-align: right;position: absolute;top: 200px;right: 27px;outline: none; }
a { transition: all .3s ease;-webkit-transition: all .3s ease;-moz-transition: all .3s ease;-o-transition: all .3s ease; }
/* Visitor */
a.visitor i,.visitor h4.list-group-item-heading { color:#E48A07; }
a.visitor:hover { background-color:#E48A07; }
a.visitor:hover * { color:#FFF; }
/* Facebook */
a.facebook-like i,.facebook-like h4.list-group-item-heading { color:#3b5998; }
a.facebook-like:hover { background-color:#3b5998; }
a.facebook-like:hover * { color:#FFF; }
/* Google */
a.google-plus i,.google-plus h4.list-group-item-heading { color:#dd4b39; }
a.google-plus:hover { background-color:#dd4b39; }
a.google-plus:hover * { color:#FFF; }
/* Twitter */
a.twitter i,.twitter h4.list-group-item-heading { color:#00acee; }
a.twitter:hover { background-color:#00acee; }
a.twitter:hover * { color:#FFF; }
/* Linkedin */
a.linkedin i,.linkedin h4.list-group-item-heading { color:#0e76a8; }
a.linkedin:hover { background-color:#0e76a8; }
a.linkedin:hover * { color:#FFF; }
/* Tumblr */
a.tumblr i,.tumblr h4.list-group-item-heading { color:#34526f; }
a.tumblr:hover { background-color:#34526f; }
a.tumblr:hover * { color:#FFF; }
/* Youtube */
a.youtube i,.youtube h4.list-group-item-heading { color:#c4302b; }
a.youtube:hover { background-color:#c4302b; }
a.youtube:hover * { color:#FFF; }
/* Vimeo */
a.vimeo i,.vimeo h4.list-group-item-heading { color:#44bbff; }
a.vimeo:hover { background-color:#44bbff; }
a.vimeo:hover * { color:#FFF; }

.icon {
font-size: 50px;
text-align: right;
position: absolute;
top: 7px;
right: 27px;
outline: none;
}
.forums-list{


}
#chatbox{
  /* margin-top:100px; */
  padding-top:150px;
  width:80%;
  margin-left:auto;
  margin-right:auto;
  dsiplay:block;
}
#forums-page{
  width:60%;
}
#ride-list {
  /* padding-left: 50px; */
  /* padding-right: 50px; */
  /* border: 2px solid blue; */
  /* padding: 10px; */
  /* border-radius: 25px; */
  /* margin-top:300px; */
}

.follower-card {
  width: 40rem;
  length: 40rem;
}
#following-card{
  width:14rem;
  height:21rem;
  max-width: 15rem;
}


.follower-container {
  border: 2px solid ;
  padding: 10px;
  border-radius: 25px;
}

.some-h2 {
  text-align: center;
}
.profile-following{
  width: 18rem;

}
.card-rows {
  @include media-breakpoint-only(lg) {
    column-count: 4;

  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////
.container{
  display: flex;
  flex-direction: column;
  /* max-width:100%;
   margin:auto; */
   /* margin-top:20px; */
 }
img{ max-width:100%;}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%; padding:0px;
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 550px; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 100%;
}

 .sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {
  border-top: 1px solid #c4c4c4;position: relative;
  /* width:100%; */
}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 20rem;
  overflow-y: auto;
}
/*///////
///*bootsnip
///////*/
pre {
          tab-size: 8;
      }

      @media screen and (max-width: 768px) {
          .side-collapse-container{
              width:100%;
              position:relative;
              left:0;
              transition:left .4s;
          }
          .side-collapse-container.out{
              left:200px;
          }
          .side-collapse {
              top:50px;
              bottom:0;
              left:0;
              width:200px;
              position:fixed;
              overflow:hidden;
              transition:width .4s;
          }
          .side-collapse.in {
              width:0;
          }
          #profile-card-container{
            width:80%;

          }
      }
/******
****end of bootsnip

***/
.col-centered{
    float: none;
    margin: 0 auto;
}
.centered {
  height: 100vh; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
}
.sticky-nav {
  position: sticky;
  top: 0;
}
.card-img-top{
  width:100%;
  height:auto;
}
.card-group{
  margin-top:120px;
}
